@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 10px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: black;
}

#navbar li a:hover{
    color: rgb(157, 155, 155);
    transition: 0.3s ease;
}

a {
    text-decoration: none;
    color: black;
}

button {
    font-size: 25px;
    padding-right: 70px;
    padding-left: 64px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: -3px;
    background-color: rgb(134, 134, 134);
    border-style: solid 2px ;
}

h2 {
    font-size: 25px;
    background-color: rgb(0, 0, 76);
    color: white;
    font-weight: 300;
    padding-top: 3px;
    padding-bottom: 3px;
}

#discount {
    padding-top: 20px;
    text-align: center;
    margin-right: 80px;
    margin-left: 80px;
}



.category {
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 76);
    padding-top: 8px;
    padding-bottom: 8px;
}

.section-p1 {
    padding: 40px 80px;
}

#img-categories {
    width: 290px;
    height: 250px;
    width: 100%;
    margin-bottom: -5px;
}

#feature .fe-box {
    width: 300px;
    text-align: left;
    padding: 0 0;
    box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
    border: solid black;
}

#feature .fe-box:hover{
    box-shadow: 20px 20px 54px rgba(0, 0, 0, 0.1);
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    color: black;
}

h1 {
    font-size: 40px;
}

footer {
    background-color: gray;
}

.sub {
    font-size: 20px;
    font-weight: 500;
}

.call {
    color: black;
    margin-top: 10px;
}

#phone a:hover{
    color: rgb(0, 0, 76);
    transition: 0.3s ease;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p1 {
    display: flex;
}

h4 {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 15px;
}

h3 {
    font-size: 25px;
    font-weight: 200;
}

.p2 {
    display: flex;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
} 

footer {
    display: flex;
    flex-wrap: wrap;
}

.col {
    margin-left: 100px;
}

h5 {
    font-size: 15px;
}

p {
    margin-bottom: -15px;
}



.lm {
    background-color: rgb(0, 0, 76);
    color: white;
    width: 200px;
    font-size: 15px;
    height: 40px;
    border: solid 1px black;
    margin-top: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
}

#media {
    margin-top: 5px;
}

#header {
    margin-bottom: -10px;
}

.box {
    margin: 10px;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
   
    height: 100vh;   
}

.wrapper .img{
    margin: 30px;
    width: 30%;
}

.wrapper .info{
    width: 25%;
    margin: 30px;
    height: 88%;
    color: black;
}

.info h3,p{
    padding: 15px 10px;
}

.info h3{
    font-size: 30px;
    font-weight: 900;
}

.info p{
    font-size: 22px;
}

.size{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.psize{
    
    width: 60px;
    height: 30px;
    border: 1px solid rgb(119, 119, 119);
    color: #000;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
}

.btn-box{
    display: flex;
    margin-top: 40px;
}
.btn-box button{
    font-size: 30px;
    padding: 10px 45px;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.cart-btn{
    align-items: center;
    background-color: rgb(0, 0, 76);
    margin-right: 20px;
}

.info-d{
    border: 1px solid black;
    padding: 10px;
}